<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.wearehathway.cordova.punchh" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginPunchhHelper</name>
    <js-module name="CordovaPluginPunchhHelper" src="www/CordovaPluginPunchhHelper.js">
        <clobbers target="cordova.plugins.CordovaPluginPunchhHelper" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginPunchhHelper">
                <param name="android-package" value="com.wearehathway.cordova.punchh.CordovaPluginPunchhHelper" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/CordovaPluginPunchhHelper.java" target-dir="src/com/wearehathway/cordova/punchh/CordovaPluginPunchhHelper" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaPluginPunchhHelper">
                <param name="ios-package" value="CordovaPluginPunchhHelper" />
            </feature>
        </config-file>
        <source-file src="src/ios/CordovaPluginPunchhHelper.m" />
    </platform>
</plugin>